{% extends 'base.html' %}  {% block content %}        <p class="mb-4">
        <a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary">
            ← Tüm Yazılara Geri Dön
        </a>
    </p>

    <h1 class="display-4 mb-3">{{ post.title }}</h1>
    
    <p class="lead text-muted border-bottom pb-2">
        Yazar: **{{ post.author }}** | Yayın Tarihi: {{ post.created_at|date:"d M Y, H:i" }}
    </p>
    
    <div class="blog-content mt-4">
        <p class="fs-5">{{ post.content|linebreaksbr }}</p>
    </div>

{% endblock content %} 